.forgotForm{
    
    text-align: center;
    position: relative;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    box-shadow: 1px 1px 7px 2px #ffa500ab;
    outline: none;
    padding: 5px;
    width: 290px;
    margin-left:550px;
}
input{
    border:1px solid orange;
}
