.drop-down-menu {
    margin-top: 8px;
    width: 150px;
    height: 34px;
    border-radius: 3px;
    background: #aaa;
}

.menu-items {
    padding: 10px;
}
.form-group{
    margin-right: 10px;
}
.btn-group{
    margin-top: 9px;
}
.btn btn-default{
    margin-right: 75px;
}