 
<button type="button" class="btn btn-warning btn-lg" style="margin-left: 209px;height: 130;">
  North Indian <img src="../assets/image/9.jpg"></button>
  <div class="itemnList">
  <ul *ngFor="let item of niDish">
    <li>{{item}}</li>
  </ul>
</div>

<button type="button" class="btn btn-warning btn-lg" style="margin-left: 858px;margin-top: -323px;">
  South Indian <img src="../assets/image/10.jpg"></button>
  <div class="itemsList">
    <ul *ngFor="let item of siDish">
      <li>{{item}}</li>
    </ul>
  </div><br><br><br>

<button type="button" class="btn btn-warning btn-lg"style="margin-left: 76px; height:190;">
  Chinese <img src="../assets/image/11.jpg"></button>
  <div class="itemcList">
    <ul *ngFor="let item of cDish">
      <li>{{item}}</li>
    </ul>
  </div>

<button type="button" class="btn btn-warning btn-lg"style="margin-left:580px;margin-top:-504px;height:190;">
  Italian <img src="../assets/image/12.jpg"></button>
  <div class="itemiList">
    <ul *ngFor="let item of iDish">
      <li>{{item}}</li>
    </ul>
  </div><br><br><br>

<button type="button" class="btn btn-warning btn-lg"style="margin-left:210px;">
  Chaats <img src="../assets/image/13.jpg"></button>
  <div class="itemhList">
    <ul *ngFor="let item of hDish">
      <li>{{item}}</li>
    </ul>
  </div><br><br>

<button type="button" class="btn btn-warning btn-lg"style="margin-left:896px;margin-top:-297px;height:172;">
  Baverages<img src="../assets/image/14.jpg"></button>
  <div class="itembList">
    <ul *ngFor="let item of bDish">
      <li>{{item}}</li>
    </ul>
  </div>
